.App {
  
  text-align: center;
  font-family: 'Alegreya', serif;
  background-color:aquamarine;
  height: 100vh;
  
  background-image: url(../public/clothesBackgroundImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}

h1 {
  margin: 0 auto;
  font-size: 50px;
  font-weight: 900;
  color: #00595d;
}
h2 {
  font-size: 30px;
  font-weight: 800;
  color: #f17848;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0 0;
  display: flex;
  
  justify-content: space-around;
}

li {
  flex-basis: calc(30%);
  flex-wrap: wrap;

}

img {
  max-width: 100%;
  width: 50%;
  height: 100%;
  box-shadow: #2e7140 0px 0px 0px 3px, #f9ae4b 0px 0px 0px 6px, #00595d 0px 0px 0px 9px, #f17848 0px 0px 0px 12px, #00595d 0px 0px 0px 15px;
}

input {
  padding: 10px 10px;
  background-color: #f9ae4b;
  border: none;
  margin-right: 5px;
  color: black;
}

button {
  padding: 10px 20px;
  background-color: #2e7140;
  border: none;
}

/* f9ae4b  #00595d  #2e7140 #f17848 */
